<!--The content below is only a placeholder and can be replaced.
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div>
-->
<h1>Statistiques sur les Inscriptions et les Gestionnaires</h1>
<div class="container d-flex justify-content-center" >

  <div class="row col-md-6 col-sm-12" >
    <canvas  id="MYCHART88"></canvas>
  </div>


</div>

<div class="container d-flex justify-content-center" >


  <div class="row col-md-6 col-sm-12" >
    <canvas  id="MYCHART888"></canvas>
  </div>



</div>
