<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link *ngIf="dark == true" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-md  bg-light  " [ngClass]="dark==true ?'bg-dark': 'bg-light'">
  <button [ngClass]="dark==true ? 'bCOL' : 'bCOL2'" class="navbar-toggler" type="button" (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
    Detail
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault"  [ngbCollapse]="isCollapsed" >
    <ul  class="navbar-nav  ml-auto">
      <li class="nav-item dropdown" ngbDropdown >
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Menu </a>
        <div  class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/Admin']"  >Home</a>
          <a *ngIf="srev.isAdmin()==true" class="dropdown-item" [routerLink]="['gest']"  >Liste Gestionnaires</a>
          <a *ngIf="srev.isAdmin()==true" class="dropdown-item" [routerLink]="['newGest']" >Ajouter Gestionnaire</a>
          <a class="dropdown-item" [routerLink]="['directions']">Liste Directions</a>
          <a class="dropdown-item" [routerLink]="['gradesProfils']">Liste Grades</a>
          <a class="dropdown-item" [routerLink]="['profils']">Liste Profils</a>
          <a class="dropdown-item" [routerLink]="['HomeGest']">Concours</a>
          <a *ngIf="srev.isAdmin()==true || srev.isGestLV1()==true" class="dropdown-item" [routerLink]="['AddConcours']">Add Concours</a>
          <a class="dropdown-item" [routerLink]="['listCentres']">Centres</a>
          <a *ngIf="srev.isAdmin()==true || srev.isGestLV1()==true" class="dropdown-item" [routerLink]="['AddCentre']">Add Centre</a>
        </div>
      </li>

      <li (click)="LogOut()" class="#showhides" class="nav-item">
        <i class="fa fa-sign-out" title="{{srev.leUsername()}}" style="font-size:48px;color:dodgerblue"></i>
      </li>


      <li class="#showhidess" class="nav-item">
        <a class="nav-link" [routerLink]="['/Admin']">Home</a>
      </li>



      <li class="nav-item" style="margin-top: 10px">
        <label  class="switch">
          <input   (click)="DarkSwitch()" type="checkbox" checked>
          <span  class="slider round"></span>
        </label>
      </li>



    </ul>
  </div>
</nav>

<script>
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
  });

  // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
  });
</script>

