<!--The content below is only a placeholder and can be replaced.
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div>
-->
<h1>Statistiques sur les Concours par directions et profils</h1>

<div  class="row container" style="width: 50%;margin: auto;margin-top: 40px;margin-bottom: 40px">
  <select (change)="Chart()" id="dir" name="dir"  ngModel  [(ngModel)]="id" class="form-control" required>
    <option  *ngFor="let opt of Directions" [value]="opt.id" [selected]="opt.selected == true">{{opt.intitled}}</option>
  </select>

</div>
<div class="container d-flex justify-content-center" >

  <div class="row col-md-6 col-sm-12" >
    <canvas  id="MYCHART1"></canvas>
  </div>


</div>

<div  class="row container" style="width: 50%;margin: auto;margin-top: 40px;margin-bottom: 40px">
  <select (change)="Chart2()" id="diir" name="diir"  ngModel  [(ngModel)]="id2" class="form-control" required>
    <option  *ngFor="let opt of Profiles" [value]="opt.idProfil" [selected]="opt.selected == true">{{opt.intitled}}</option>
  </select>

</div>

<div class="container d-flex justify-content-center" >


  <div class="row col-md-6 col-sm-12" >
    <canvas  id="MYCHART2"></canvas>
  </div>

</div>
