<!--<app-header></app-header>
<app-side-nav></app-side-nav>-->
<!--
<div class="container">
  <app-centrale-home></app-centrale-home>
</div>

<app-liste-gestionnaire></app-liste-gestionnaire>
-->
<!--

<app-home-gestionnaire></app-home-gestionnaire>

-->

<!--
Should Go to http://localhost:4200/HomeGest
Gestionnaire
<div class="container">
  <router-outlet></router-outlet>
</div>
-->
<!--
Should Go to http://localhost:4200/
Admin
<app-side-nav></app-side-nav>
-->


<router-outlet></router-outlet>
