<div class="container">
  <div *ngIf="mod==1" class="card border-primary mb-3"  style="margin-top: 15px">
    <div class="card-header" style="background-color: #5a57fb" >
    </div>
    <div class="card-body">

      <form #formulaire="ngForm">

        <div *ngIf="ee==1" class="alert alert-danger">
          {{UserAlredayEx}}
        </div>

        <div  class="form-group">

          <label for="dt">Adresse:</label>
          <input name="dt" id="dt" ngModel [(ngModel)]="adresse" class="form-control" type="text" required>
          <span *ngIf="err==1" style="color: red">{{Errors.adresse}}</span>
          <br>

          <label for="dtl">Email:</label>
          <input name="dtl" id="dtl" ngModel [(ngModel)]="adresseEmail" class="form-control" type="email" required>
          <span *ngIf="err==1" style="color: red">{{Errors.adresseEmail}}</span>
          <br>

          <label for="ps1">Annee Obtention Diplome:</label>
          <input min="1900" name="ps1" id="ps1" ngModel [(ngModel)]="anneeObtentionDiplome" class="form-control" type="number" required>
          <span *ngIf="err==1" style="color: red">{{Errors.anneeObtentionDiplome}}</span>
          <br>

          <label for="in">CIN:</label>
          <input name="in" id="in" ngModel [(ngModel)]="cin" class="form-control" type="text" required>
          <span *ngIf="err==1" style="color: red">{{Errors.cin}}</span>
          <br>

          <label for="nm11">Code Postal:</label>
          <input  name="nm11" id="nm11" ngModel [(ngModel)]="codePostal" class="form-control" type="number" required>
          <span *ngIf="err==1" style="color: red">{{Errors.codePostal}}</span>
          <br>

          <label for="nm1">Intitulé Diplome:</label>
          <input  name="nm1" id="nm1" ngModel [(ngModel)]="diplomeObtenue" class="form-control" type="text" required>
          <span *ngIf="err==1" style="color: red">{{Errors.diplomeObtenue}}</span>
          <br>

          <label for="nm2">Etablissement:</label>
          <input  name="nm2" id="nm2" ngModel [(ngModel)]="etablissement" class="form-control" type="text" required>
          <span *ngIf="err==1" style="color: red">{{Errors.etablissement}}</span>
          <br>

          <label for="nm3">Nom Complet:</label>
          <input  name="nm3" id="nm3" ngModel [(ngModel)]="nomComplet" class="form-control" type="text" required>
          <span *ngIf="err==1" style="color: red">{{Errors.nomComplet}}</span>
          <br>

          <label for="nm33">Specialité:</label>
          <input  name="nm33" id="nm33" ngModel [(ngModel)]="specialite" class="form-control" type="text" required>
          <span *ngIf="err==1" style="color: red">{{Errors.specialite}}</span>
          <br>

          <label for="nm44">Telephone:</label>
          <input  name="nm44" id="nm44" ngModel [(ngModel)]="telephone" class="form-control" type="number" required>
          <span *ngIf="err==1" style="color: red">{{Errors.telephone}}</span>
          <br>

          <label for="nm4">Ville:</label>
          <input  name="nm4" id="nm4" ngModel [(ngModel)]="ville" class="form-control" type="text" required>
          <span *ngIf="err==1" style="color: red">{{Errors.ville}}</span>
          <br>

          <label for="nm55">Mot de passe:</label>
          <input  name="nm55" id="nm55" ngModel [(ngModel)]="motDePasse" class="form-control" type="password" required>
          <span *ngIf="err==1" style="color: red">{{Errors.motDePasse}}</span>
          <br>


          <label for="nm5">Re Mot de passe:</label>
          <input  name="nm5" id="nm5" ngModel [(ngModel)]="remotDePasse" class="form-control" type="password" required>
          <span *ngIf="err==1" style="color: red">{{Errors.remotDePasse}}</span>
          <br>

          <div *ngIf="fileStatus.status==='progress'">
            <div class="progress">
              <div [style.width.%]="fileStatus.percent" class="progress-bar progress-bar-animated bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                {{ fileStatus.requestType }} {{ fileStatus.percent }}
              </div>
            </div>
          </div>

          <label for="xm">Fichiers Joints : CIN (PDF Only)</label>


          <form id="xm" enctype="multipart/form-data">
            <fieldset>
              <div class="form-group">
                <div>
                  <input  *ngIf="c1 == false"  accept="application/pdf" [disabled]="cin == null || cin ==''" type="file" (change)="onUploadFiles(($any($event.target).files),'CIN')" name="fl"  class="form-control" />
                </div>
              </div>
            </fieldset>
          </form>
          <span *ngIf="err==1" style="color: red">{{Errors.fichiersJoints1}}</span>
          <span *ngIf="err==1" style="color: red">{{Errors.fichiersJoints2}}</span>
          <br>


          <label for="xm2">Fichiers Joints :Diplome (PDF Only)</label>

          <form id="xm2" enctype="multipart/form-data">
            <fieldset>
              <div class="form-group">
                <div>
                  <input  *ngIf="c2 == false" accept="application/pdf" [disabled]="cin == null || cin ==''" type="file" (change)="onUploadFiles(($any($event.target).files),'DIPLOME')" name="fl"  class="form-control" />
                </div>
              </div>
            </fieldset>
          </form>
          <span *ngIf="err==1" style="color: red">{{Errors.fichiersJoints1}}</span>
          <span *ngIf="err==1" style="color: red">{{Errors.fichiersJoints2}}</span>
          <br>


          <label for="xm3">Fichiers Joints :CV (PDF Only)</label>

          <form id="xm3" enctype="multipart/form-data">
            <fieldset>
              <div class="form-group">
                <div>
                  <input *ngIf="c3 == false" accept="application/pdf" [disabled]="cin == null || cin =='' " type="file" (change)="onUploadFiles(($any($event.target).files),'CV')" name="fl"  class="form-control" />
                </div>
              </div>
            </fieldset>
          </form>
          <span *ngIf="err==1" style="color: red">{{Errors.fichiersJoints1}}</span>
          <span *ngIf="err==1" style="color: red">{{Errors.fichiersJoints2}}</span>
          <br>


          <div *ngIf="filenames" class="js-upload-finished">
            <h3>Processed files</h3>
            <div *ngFor="let filename of filenames" class="list-group">
              <a (click)="onDownloadFile(filename)" class="list-group-item list-group-item-success" style="cursor: pointer;">
                {{ filename }}
                <a class="alert-success float-right">Download</a>
              </a><br>
            </div>
          </div>



          <button (click)="AddNewIsncription()" [disabled]="formulaire.invalid || motDePasse!= remotDePasse" class="btn btn-primary">Envoyer</button>

        </div>

      </form>


    </div>

  </div>



  <div *ngIf="mod == 2"  class="card border-primary mb-3"  style="margin-top: 15px">
    <div class="card-header" style="background-color: #5a57fb" >
    </div>
    <div class="card-body">



          <div class="alert alert-success">Votre souscription est recu avec succees Veuillez verifier votre boite mail un email automatique vous a été envoyé</div>

          <h1>Telechargez votre recu en cliquant sur l'image ci dessous</h1>


<div style="cursor: pointer" (click)="DownloadRecu()">
      <img  style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" src="assets/images/finances.svg"  alt="Recu finances">

</div>

    </div>

  </div>






</div>
<div *ngIf="bool == 1" id="cover-spin"></div>

<!--
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Recu d'inscription</button>

<ng-template #content  let-modal>
  <div *ngIf="qsd==1" class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Recu d'inscription au Concours</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-append">
            <p>
              Un email est envoyé via courriel electronique pour confirmer votre inscription dans le concours
              <span style="color:red;">{{Prf}}</span> Veuillez imprimer le recu en cliquant sur le button ci dessous ou bien le recuperer dans votre courriel electronique sous format PDF.
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="DownloadRecu()">Telecharger</button>
  </div>
</ng-template>
-->
